/* WxAdd.js 添加文章链接 */
.wx-add-form .wx-add-item{
    margin-bottom: 10px;
}
.wx-add-item .wx-add-label{
    text-align: right;
}
.wx-add-item .wx-add-button{
    text-align: center;
}

/* WxList.js 微信文章列表 */
.wx-list-table td img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}